.buttonCommand {
    background-color: var(--buttonCommandBackgroundColor);
    box-shadow: 0px 6px 0px var(--buttonCommandShadowColor);
    color: var(--buttonCommandTextColor);
}

.buttonCommand::before {
    background-color: var(--buttonCommandHoverBackgroundColor);
}