.buttonSymbol {
    background-color: var(--buttonSymbolBackgroundColor);
    box-shadow: 0px 6px 0px var(--buttonSymbolShadowColor);
    color: var(--buttonSymbolTextColor);
}

.buttonSymbol::before {
    background-color: var(--buttonSymbolHoverBackgroundColor);
}