.calculatorTheme {
    display:flex;
    justify-content: space-between;
    

    width: 37%;
    max-width: 160px;
}

.calculatorThemeTitle, .calculatorThemeNumber {
    color: var(--screenTextColor);
    text-transform: uppercase;
    background-color: transparent;
}

.calculatorThemeTitle {
    font-size: 13px;
    align-self: flex-end;
}

.calculatorThemeNumber { 
    font-size: 13px;
}

.calculatorThemeNumbers {
    display:flex;
    align-items: center;
    justify-content: space-between;

    width: 50px;
    margin-bottom:3px;
}

.calculatorThemeToggle {
    display:flex;
    flex-direction: column;
    align-items: center;
}