:root {
    --theme-one-c-very-dark-desatured-blue-1: hsl(222, 26%, 31%);
    --theme-one-c-very-dark-desatured-blue-2: hsl(223, 31%, 20%);
    --theme-one-c-very-dark-desatured-blue-3: hsl(224, 36%, 15%);
    --theme-one-c-desatured-dark-blue-1: hsl(225, 21%, 49%);
    --theme-one-c-desatured-dark-blue-2: hsl(224, 28%, 35%);
    --theme-one-c-red: hsl(6, 63%, 50%);
    --theme-one-c-dark-red: hsl(6, 70%, 34%);
    --theme-one-c-light-grayish-orange: hsl(30, 25%, 89%);
    --theme-one-c-grayish-orange: hsl(28, 16%, 65%);
    --theme-one-c-very-dark-grayish-blue: hsl(221, 14%, 31%);
    --theme-one-c-white: hsl(0, 0, 100%);

    --theme-two-c-light-gray: hsl(0, 0%, 90%);
    --theme-two-c-grayish-red: hsl(0, 5%, 81%);
    --theme-two-c-very-light-gray: hsl(0, 0%, 93%);
    --theme-two-c-dark-moderate-cyan: hsl(185, 42%, 37%);
    --theme-two-c-very-dark-cyan: hsl(185, 58%, 25%);
    --theme-two-c-orange: hsl(25; 98%, 40%);
    --theme-two-c-dark-orange: hsl(25, 99%, 27%);
    --theme-two-c-light-grayish-yellow: hsl(45, 7%, 89%);
    --theme-two-c-dark-grayish-orange: hsl(35, 11%, 61%); 
    --theme-two-c-very-dark-grayish-yellow: hsl(60, 10%, 19%);
    --theme-two-c-white: hsl(0, 0, 100%);

    --theme-three-c-very-dark-violet-1: hsl(268, 75%, 9%);
    --theme-three-c-very-dark-violet-2: hsl(268, 71%, 12%);
    --theme-three-c-dark-violet: hsl(281, 89%, 26%);
    --theme-three-c-vivid-magenta: hsl(285, 91%, 52%);
    --theme-three-c-pure-cyan: hsl(176, 100%, 44%);
    --theme-three-c-soft-cyan: hsl(177, 92%, 70%);
    --theme-three-c-very-dark-violet-3: hsl(268, 47%, 21%);
    --theme-three-c-dark-magenta: hsl(290, 70%, 36%);
    --theme-three-c-light-yellow: hsl(52, 100%, 62%);
    --theme-three-c-very-dark-blue: hsl(198, 20%, 13%);
    --theme-three-c-white: hsl(0, 0, 100%);

    --font-size: 32px;
    --mobile-width: 375px;
    --desktop-size: 1440px; 
}

body {
    font-family: 'League Spartan', sans-serif;
}