.app[data-theme='one'] {
    --backgroundColor: hsl(222, 26%, 31%);
    --backgroundScreenColor: hsl(224, 36%, 15%);
    --backgroundToggleColor: hsl(223, 31%, 20%);
    --backgroundKeypadColor: hsl(223, 31%, 20%);
    --buttonSymbolBackgroundColor: hsl(30, 25%, 89%);
    --buttonSymbolHoverBackgroundColor: hsl(30, 25%, 99%);
    --buttonCommandBackgroundColor: hsl(225, 21%, 49%);
    --buttonCommandHoverBackgroundColor: hsl(225, 21%, 59%);
    --buttonEqualBackgroundColor: hsl(6, 63%, 50%);
    --buttonEqualHoverBackgroundColor: hsl(6, 63%, 60%);
    --buttonSymbolShadowColor: hsl(28, 16%, 65%);
    --buttonCommandShadowColor: hsl(224, 28%, 35%);
    --buttonEqualShadowColor: hsl(6, 70%, 34%);
    --buttonCommandTextColor: hsl(0, 0, 100%);
    --buttonEqualTextColor: hsl(0, 0, 100%);
    --buttonSymbolTextColor: hsl(221, 14%, 31%);
    --screenTextColor: hsl(0, 0, 100%);
    --buttonToggleColor: hsl(6, 63%, 50%); 
}

.app[data-theme='two'] {
    --backgroundColor: hsl(0, 0%, 90%);
    --backgroundScreenColor: hsl(0, 0%, 93%);
    --backgroundToggleColor: hsl(0, 5%, 81%);
    --backgroundKeypadColor: hsl(0, 5%, 81%);
    --buttonSymbolBackgroundColor: hsl(45, 7%, 89%);
    --buttonSymbolHoverBackgroundColor: hsl(45, 7%, 99%);
    --buttonCommandBackgroundColor: hsl(185, 42%, 37%);
    --buttonCommandHoverBackgroundColor: hsl(185, 42%, 47%);
    --buttonEqualBackgroundColor: hsl(25, 98%, 40%);
    --buttonEqualHoverBackgroundColor: hsl(25, 98%, 50%);
    --buttonSymbolShadowColor: hsl(35, 11%, 61%);
    --buttonCommandShadowColor: hsl(185, 58%, 25%);
    --buttonEqualShadowColor: hsl(25, 99%, 27%);
    --buttonCommandTextColor: hsl(0, 0, 100%);
    --buttonEqualTextColor: hsl(0, 0, 100%);
    --buttonSymbolTextColor: hsl(60, 10%, 19%);
    --screenTextColor: hsl(60, 10%, 19%);
    --buttonToggleColor: hsl(25, 98%, 40%);
}

.app[data-theme='three'] {
    --backgroundColor: hsl(268, 75%, 9%);
    --backgroundScreenColor: hsl(268, 71%, 12%);
    --backgroundToggleColor: hsl(268, 71%, 12%);
    --backgroundKeypadColor: hsl(268, 71%, 12%);
    --buttonSymbolBackgroundColor: hsl(268, 47%, 21%);
    --buttonSymbolHoverBackgroundColor: hsl(268, 47%, 31%);
    --buttonCommandBackgroundColor: hsl(281, 89%, 26%);
    --buttonCommandHoverBackgroundColor: hsl(281, 89%, 36%);
    --buttonEqualBackgroundColor: hsl(176, 100%, 44%);
    --buttonEqualHoverBackgroundColor: hsl(176, 100%, 54%);
    --buttonSymbolShadowColor: hsl(290, 70%, 36%);
    --buttonCommandShadowColor: hsl(285, 91%, 52%);
    --buttonEqualShadowColor: hsl(177, 92%, 70%);
    --buttonCommandTextColor: hsl(0, 0, 100%);
    --buttonEqualTextColor: hsl(198, 20%, 13%);
    --buttonSymbolTextColor: hsl(52, 100%, 62%);
    --screenTextColor: hsl(52, 100%, 62%);
    --buttonToggleColor: hsl(176, 100%, 44%);
}